
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Hut of Code.</h1>
                        <h3>Join a community of people that love building things with code.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                          <% if user_signed_in? %>
                            <button class= "btn btn-default btn-lg" type="button" name="button">Welcome <%= current_user.email %></button>
                          <% else %>
                            <li>
                              <%= link_to "Register", new_user_registration_path, class: "btn btn-default btn-lg" %>
                            </li>
                            <li>
                              <%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
                            </li>
                          <% end %>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our Mission:<br></h2><hr>
                    <p class="lead">There are so many platforms today where people can learn to code.Special Thanks to Platforms like <a target="_blank" href="http://codecademy.com/">Codecademy</a>,<a href="#">Freecodecamp and many more...</a><br>However learning to code alone is hard and very frustrating.<br>Our mission is to build local communities where people come together and learn Computer Science skills.</p>
                    <button class="btn btn-info btn-medium"type="button" name="button">Support Us.</button>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <%= image_tag("ipad.png", class: "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Where to find:<br>Hut of Code</h2><hr>
                    <p class="lead">Hut of Code is officially launching in- <a target="_blank" href="">Hammanskraal South Africa.</a>This is our Home and charity begins at home.<br>If you want learn coding and you live in Hammanskraal South Africa.Please get in touch with us.</p>
                    <p class="lead">You can also contact us or register <a href="#">Here</a> if you want us to start a Hut of Code in your community.<br>Very Soon we are coming to you...</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag("dog.png", class: "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Why Learn:<br>Computer Science Skills</h2><hr>
                    <p class="lead">

                        Unlock numerous career opportunities to land your dream job

                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("phones.png", class: "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Lets connect on:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
